PORT=8000

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=AITestDb
POSTGRES_PORT=5433

JWT_KEY=your_jwt_key_really_long
ENCRYPTION_KEY=your_encryption_key_really_long
JWT_ISSUER=AITest.API
JWT_AUDIENCE=AITest.Client
JWT_ACCESS_HOURS=24
CORS_ORIGINS=*
